.div{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/originals/4f/6d/05/4f6d052bb1b26150115888ea06d4c106.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.fir{
    padding-top:240px;
    text-align: center;
    font-size: 100%;
    
}

.sec{
    
    text-align: center;
    font-size: 200%;
    
}

.button{
    
    width: 200px;
    height: 70px;
    border-radius: 5px;
    margin-left: 700px;
    color: black;
    background-color: white;
    font-size: 170%;
    border-width: 2px;
    border-color: black;
   
}
.button:hover{
    color: rgb(26, 14, 14);
   
    background-color: black;
    color:wheat;
    border-width: 2px;
    border-color: white;
    
   
}

.link{
    text-decoration: none;
    
}
.link:visited{
    text-decoration: none;
    color: black;
    
}
.link:hover{
    text-decoration: none;
    color: rgb(26, 14, 14);
}
