.web{
    display: block;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://i.insider.com/59cbcf28c68d7b6d118b49b6?width=1100&format=jpeg&auto=webp");
    background-repeat: no-repeat;
    background-size: cover;

}
.log{
    display: block;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}
h1{
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    color: aliceblue;
}
.loc{
  
    background-color: yellow;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: 70%;
    text-align: center;
    
    display: inline-block;
    width: 250px;
    height: 10vh; 
    
}
.loc:hover{
    background-color: whitesmoke;
    border-color: black;
}
.butto{
    
    display: inline-block;
    width: 50%;
    min-height: 70vh;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    overflow: hidden;
   
}
.size
{
    margin: 25px;
    margin-left: 100px;
}